* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://www.settemuse.it/sfondi_ambiente/stagione_inverno/stagione_inverno_020.jpg');
  font-family: 'Righteous', cursive;
}
header {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  border-bottom: 1px solid black;
  background: linear-gradient(315deg, rgba(0,187,201,1) 0%, rgba(0,2,61,1) 50%, rgba(255,0,0,1) 100%);
}
header h1 {
  margin: 0px 80px;
}
button {
  border-radius: 5px;
  padding: 0px 10px;
  border: 0;
  background-color: darkgrey;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
ul li {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.festa {
  background: radial-gradient(circle, rgba(255,252,0,1) 0%, rgba(255,16,0,1) 100%);
  color: blue;
}
